<div class="text-center">
  <h1 class="cover-heading f-gochi p-3">LAKASTAPP!</h1>
  <p class="lead">if you love to watch online series and programs, Lakastapp is for you!</p>
  <p class="lead">With Lakastapp you can keep a record of every program you watch!</p>
  <p class="lead">Come on! It's free!</p>
  <hr>
  <%= link_to 'Log In', login_path, class:'btn btn-lg btn-primary_accent btn-block' %>
  <a href="<%= registration_path %>" class="btn btn-lg btn-primary_shades btn-block">Sign up</a>
  <hr>
</div>