<h1 class="cover-heading">LAKASTAPP!</h1>
        <p class="lead">Welcome to our app.</p>
        <p class="lead">Sign up now for free!</p>
        <p class="lead">
          <a href="<%= registration_path %>" class="btn btn-lg btn-secondary">Sign up</a>
        </p>