<h1>GROUPS</h1>
<%= link_to "Add new Program", new_group_path, class: 'btn btn-success' %>
<br>
<hr>
<% @groups.each do |group| %>
    <%= group.name %>
    <%= group.user_id %>
    <%= link_to "See program", group_path(group), class: 'btn btn-warning' %>
    <hr>
<% end %>