<h2>Program records:</h2>
<h3>Name: <%= @group.name %></h3>
<% if @group.icon.url%>
    <%= image_tag @group.icon.url, class: 'img img-fluid', alt: @group.name %>
<% end %>
<hr>
<% @group.records.each do |record| %>
    <%= record.name %>
    <%= record.author.name %>
    <hr>
<% end %>