// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.record-container {
    width: 100%;
}

.record-text, .record-actions {
    width: 49%;
    display: inline-block;
}